@model IEnumerable<LendADogDemo.MVC.ViewModels.NotConfirmedUsersRequestViewModel>

<ul class="list-group" style="text-align:start">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @Html.HiddenFor(m => item.RequestFromID)
            <strong>Request From: </strong>@Html.DisplayFor(m => item.RequestFromFullName)<br />
            <strong>Request Message: </strong>@Html.DisplayFor(m => item.Message)
            <div style="margin-top:5px">
                <button id="Approve" type="button" class="btn btn-primary btn-sm"
                        data-toggle="modal" data-target="#personalDashboardModal"
                        data-id="@item.RequestFromID" data-name="@item.RequestFromFullName">
                    Approve
                </button>
                <button id="Deny" type="button" class="btn btn-primary btn-sm"
                        data-toggle="modal" data-target="#personalDashboardModal"
                        data-id="@item.RequestFromID" data-name="@item.RequestFromFullName">
                    Deny
                </button>
            </div>
        </li>
    }
</ul>