@model IEnumerable<LendADogDemo.MVC.ViewModels.ConversationViewModel>

<ul class="list-group" style="text-align:start">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @Html.HiddenFor(m => item.OtherID)
            <div class="row"style="justify-content:space-between">
                <div>
                    <strong>Conversations With: </strong>@Html.DisplayFor(m => item.OtherFullName)<br />
                    <strong>Last Message: </strong>@Html.DisplayFor(m => item.LastMessage)
                </div>
                <div style="margin-top:5px">
                    <button id="Conversation" type="button" class="btn btn-primary btn-sm"
                            data-toggle="modal" data-target="#personalDashboardModal"
                            data-id="@item.OtherID" data-name="@item.OtherFullName">
                        Open
                    </button>
                </div>
            </div>
        </li>
    }
</ul>
