@model LendADogDemo.MVC.ViewModels.DogViewModel


@Html.AntiForgeryToken()

<div class="form-group" id="EditDog">
    <h1 id="Msg" class="form-control-label">Edit @Model.DogName </h1>
    @Html.HiddenFor(m => m.DogID,htmlAttributes:new { @class = "theInput" })
    @Html.HiddenFor(m => m.DogOwnerID)
</div>

<div class="form-group row">
    <div class="input-group mb-3">
        @Html.TextBoxFor(m => m.DogName, new { @class = "form-control", @aria_describedby = "basic-addon1" })
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Dog Name</span>
        </div>
    </div>
    <div class="col-sm-7">
        @Html.ValidationMessageFor(m => m.DogName, "", new { @class = "badge badge-pill badge-danger " })
    </div>
</div>
<div class="form-group row">
    <div class="input-group mb-3">
        @Html.EnumDropDownListFor(m => m.DogSize, new { @class = "form-control", @aria_describedby = "basic-addon1" })
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Dog Size</span>
        </div>
    </div>
    <div class="col-sm-7">
        @Html.ValidationMessageFor(m => m.DogSize, "", new { @class = "badge badge-pill badge-danger " })
    </div>
</div>
<div class="form-group row">
    <div class="input-group mb-3">
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @aria_describedby = "basic-addon1" })
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Dog Description</span>
        </div>
    </div>
    <div class="col-sm-7">
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "badge badge-pill badge-danger " })
    </div>
</div>
